<div class="login-container">
  <div class="login-box">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <nz-input-group [nzSuffix]="userIcon">
          <input 
            type="text" 
            nz-input 
            placeholder="Username" 
            [(ngModel)]="username" 
            name="username"
            [disabled]="isLoading"
          />
        </nz-input-group>
        <ng-template #userIcon>
          <span nz-icon nzType="user"></span>
        </ng-template>
      </div>

      <div class="form-group">
        <nz-input-group [nzSuffix]="lockIcon">
          <input 
            type="password" 
            nz-input 
            placeholder="Password" 
            [(ngModel)]="password" 
            name="password"
            [disabled]="isLoading"
          />
        </nz-input-group>
        <ng-template #lockIcon>
          <span nz-icon nzType="lock"></span>
        </ng-template>
      </div>

      <div class="form-footer">
        <label nz-checkbox [(ngModel)]="rememberMe" name="rememberMe" [disabled]="isLoading">
          Remember me
        </label>
        <a class="forgot-link">Forgot password?</a>
      </div>

      <button 
        type="submit"
        nz-button 
        nzType="primary" 
        class="login-button" 
        [nzLoading]="isLoading"
      >
        Login
      </button>

      <div class="register-link">
        Don't have an account? <a>Register</a>
      </div>
    </form>
  </div>
</div>
