<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css" />
    <style>
    </style>
</head>
<div class="welcome-container">
    <div class="content">
      <h1>Welcome to Rover Control Dashboard</h1>
      <p>Monitor your rover's data in real-time</p>
      <button class="cta-button" routerLink="/monitor">
        <span class="button-text">Launch Monitor</span>
        <span class="button-icon">
          <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
        </span>
      </button>
    </div>
  </div>
</html>